/*************************************************
*  Alerts
**************************************************/
.alert-note {
  color: #fff;
  background-color: rgb(127,140,180);
  border-color: #bce8f1;
}

.alert-warning {
  color: #fff;
  background-color: rgb(238, 88, 99);
  border-color: #ebccd1;
